.cognitive-content {
    display: none !important;
}
.cognitive-content.show {
    display: flex !important;
}

.app-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-flow: wrap;
}

.app-card-square.mdl-card {
    width: 640px;
}

.app-card-square .mdl-card__media {
    background-color: white;
    background-image: url(assets/img/transparent_pattern.jpg);
    background-size: auto;

}

.app-canvas-container {
    height: 484px;
}

#gdprImageProcessing {
    width: 640px;
    visibility: hidden;
}

#gdprImageProcessing.show {
    visibility: visible !important;
}

.cognitive-settings-input {
    width: 500px;
}
